<div class="row">

    <?php if ($this->message): ?>

        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    
                </div>
                <div class="panel-body">
                    <pre><?php echo $this->message; ?></pre>
                </div>
            </div>
        </div>

        <div class="snep-body-footer-buttons">
            <input type="submit" class="btn btn-add btn-primary" value="<?php echo $this->translate("Back"); ?>" onClick="location.href='../'" />
        </div>
               
    <?php endif; ?>

    <form  action="<?php echo $this->url(array("controller" => "sound-files", "action" => "synchronize"), null, true); ?>" METHOD="post">
    
    <?php if ($this->submit) { ?>

        <?php  if ($this->dadosdb) { ?>

                <div class="col-lg-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <?php echo $this->messagedb;?>
                        </div>
                        <div class="panel-body">
                            <pre><?php echo $this->dadosdb;?></pre>
                        </div>
                    </div>
                </div>

        <?php } ?>

        <?php  if ($this->messagedir) { ?>

                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <?php echo $this->messagedir;?>
                        </div>
                        <div class="panel-body">
                            <pre><?php echo $this->dadosdir;?></pre>
                        </div>
                    </div>
                </div>

        <?php } ?>

        <div class="snep-body-footer-buttons">
            <input type="submit" class="btn btn-add btn-primary" value="<?php echo $this->translate("Synchronize"); ?>" />
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-outline btn-add" href="javascript:window.history.go(-1)" role="button"><?php echo $this->translate("Cancel")?></a>
        </div>

    <?php } ?>
                
</div> <!-- /.row -->


