<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );
?>
<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>

<div class="row"> 
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            <div class="snep-body-top-buttons">
                <a class="btn btn-add" href="<?php echo $this->url ?>/add/ " role="button"><?php echo $this->translate("Add Contact")?></a>
                
                <?php if($this->contacts): ?>
                    <a class="btn btn-outline btn-add" href="<?php echo $this->url ?>/multiRemove/ " role="button"><?php echo $this->translate("Remove multiple")?></a>
                <?php endif;?>
                <a class="btn btn-outline btn-add" href="<?php echo $this->url ?>/import/ " role="button"><?php echo $this->translate("Import CSV")?></a>

                <div class="snep-body-search">
                    <?php if($this->key){ ?>
                        <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>">
                        </a> 
                        &nbsp;|&nbsp;  
                    <?php } ?>
                    <?php echo $this->translate("Search")?> <input id="filter" type="text"/>
                </div>
            </div>

            <?php if ($this->error_message) {
                echo $this->action( 'sneperror', 'error', null, array( 'error_type' => 'alert', 
                'error_title' => $this->translate('Alert'), 'error_message' => $this->error_message, 'error_buttons' => False) );
            } else { ?>

            <table class="table demo table-bordered" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">

                <thead>
                    <tr>
                        <th class="text-center" data-type="numeric" data-sort-initial="true"><?php echo $this->translate('Code');?></th>
                        <th><?php echo $this->translate('Name');?></th>
                        <th><?php echo $this->translate('Group');?></th>
                        <th><?php echo $this->translate('City');?></th>
                        <th><?php echo $this->translate('State');?></th>
                        <th><?php echo $this->translate('Zip Code');?></th>
                        <th><?php echo $this->translate('Phone');?></th>
                        <th  class="text-center" colspan="2" data-sort-ignore="true"><?php echo $this->translate('Actions');?></th>
                    </tr>
                </thead>
                <tbody>

                    <?php if($this->contacts):
                        foreach($this->contacts as $contact ): ?>

                            <tr>
                                <td class="text-center"> <b> <?php echo $contact['ide'] ?> </b> </td>
                                <td> <?php echo $contact['nome'] ?> </td>
                                <td> <?php echo $contact['name'] ?> </td>
                                <td> <?php echo $contact['city'] ?> </td>
                                <td> <?php echo $contact['state'] ?> </td>
                                <td> <?php echo ($contact['cep'] != "")? $this->formatter->fmt_cep($contact['cep']) : " "; ?> </td>
                                <td><?php echo ($contact['phone'] != "")? $this->formatter->fmt_telefone(array("a" =>$contact['phone'])) : " "; ?></td>
                                <td class="text-center">
                                    <a class="btn btn-edit btn-xs"  href="<?php echo $this->url ?>/edit/id/<?php echo $contact['ide'] ?>" role="button"><?php echo $this->translate('Edit')?>
                                            
                                    </a>
                                </td>

                                <td class="text-center">
                                    <?php $this->remove_msg = $this->translate("Do you really wish to remove this item?");?>
                                    <a class="btn btn-danger btn-xs" href="<?php echo $this->url ?>/remove/id/<?php echo $contact['ide'] ?>" role="button"><?php echo $this->translate('Delete')?></a>
                                </td>
                            </tr>
                        <?php endforeach ?>
                    <?php endif ?>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <div class="paging">
                                <ul class="pagination"></ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <?php } ?>
            <br>
        </div> <!-- demo -->
    </div> <!-- tab-content -->
</div> <!-- /.row -->

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault(); 
        });
    });
</script>

